@charset "utf-8";
/* CSS Document */

a { text-decoration: none; font-size: 12px; color: #666666; }
.top { width: 100%; height: 35px; background: #f7f7f7; border: 1px solid #dedede; position: fixed; top: 0; z-index: 1000; }
.top .top_frame { width: 1190px; height: 100%; margin: 0 auto; line-height: 35px; }
.top .top_frame a:hover { color: #d7063b; }
.top .top_frame span { color: #dedede; }
.top .top_frame i { padding-right: 4px; }
.top .top_frame .top_enter { width: 136 px; height: 100%; float: left; padding: 0 5px; }
.top .top_frame .top_enter p { float: left; font-size: 12px; padding: 0 3px; }
.top .top_frame .top_entera { width: 101px; height: 100%; float: left; }
.top .top_frame .right { float: right; line-height: 32px; }
.top .top_frame .right ul li { float: left; padding: 0 5px; position: relative; }
.top .top_frame .right ul li P { float: left; }
.top .top_frame .right ul li p#fei { padding-left: 5px; border: 1px solid transparent; border-bottom: 0 none; position: relative; z-index: 10; }
.top .top_frame .right ul li:hover p#fei { background: #FFF; border: 1px solid #dedede; border-bottom: 0 none; }
.top .top_frame .right ul li:hover .my { display: block; }
.top .top_frame .right ul li:hover p .zz { transform: rotate(180deg); transition: all 0.5s ease; padding-left: 5px; }
.top .top_frame .right ul li p i { padding-left: 5px; transition: all 0.5s ease; }
.top .top_frame .right ul li .my { background: #FFF; z-index: 9; display: none; float: left; width: 282px; height: 214px; box-sizing: border-box; border: 1px solid #dedede; border-top: 0 none; position: absolute; margin-top: 38px; }
.top .top_frame .right ul li .my dl p a img { width: 80px; height: 80px; background-color: #efefef; border: 2px #d1d1d1 solid; -webkit-border-radius: 60px; margin: 16px 16px; }
.top .top_frame .right ul li .my dl { width: 100%; height: 105px; }
.top .top_frame .right ul li .my dl dd { width: 138px; height: 100%; float: left; margin-top: -22px; }
.top .top_frame .right ul li .my dl p .log { float: right; margin-right: 74px; margin-top: 40px; color: #000; font-size: 15px; }
.top .top_frame .right ul li .my dl dd a { display: block; margin-left: 15px; line-height: 25px; }
.top .top_frame .right ul li .server { padding-left: 5px; background: #FFF; display: none; border: 1px solid #dedede; border-top: 0 none; width: 70px; height: 55px; box-sizing: border-box; position: absolute; margin-top: 38px; z-index: 9; }
.top .top_frame .right ul li .server a { height: 24px; display: block; line-height: 20px; }
.top .top_frame .right ul li:hover .server { display: block; }
.top .top_frame .right ul li #f { border: 1px solid transparent; border-bottom: 0 none; position: relative; padding-left: 5px; }
.top .top_frame .right ul li:hover #f { background: #FFF; border: 1px solid #dedede; border-bottom: 0 none; }
.top .top_frame .t { float: right; width: 122px; height: 100%; padding: 0 2px; }
.top .top_frame .t li { position: relative; float: left; padding: 0 2px; line-height: 32px; }
.top .top_frame .t li span { display: block; width: 20px; height: 20px; background: url(../images/fn_g_header.png) no-repeat -87px -75px; margin-top: 8px; }
.top .top_frame .t li i { display: block; width: 18px; height: 20px; background: url(../images/fn_g_header.png) no-repeat -109px -75px; margin-top: 8px; }
.top .top_frame .t li .weixin { background: #FFF; position: relative; z-index: 9; display: none; width: 135px; height: 140px; margin-left: -110px; margin-top: 5px; }
.top .top_frame .t li:hover .weixin { display: block; }
.register { width: 100%; height: 80px; margin-top: 37px; }
.register .register_top { width: 1190px; height: 100%; margin: 0 auto; }
.register .register_top .plan_left { margin: 10px 0; }
.register .register_top .plan { width: 630px; height: 62px; float: right; margin-top: 10px; }
.register .register_top .plan .plan_top p { float: left; color: #666666; width: 210px; height: 32px; font-size: 14px; padding-top: 5px; }
.register .register_top .plan .plan_bottom { margin-left: 25px; }
.register_centre { width: 100%; background: #E9E9E9; position: relative; border: 1px solid transparent; }
.register_centre .register_banner { height: 100%; }
.register_centre .register_banner .shopping .shopping_top ul .a { width: 122px; height: 39px; border-bottom: 2px solid #DA063B; }
.register_centre .register_banner .shopping .shopping_top ul .a p { color: #DA063B; padding: 10px 20px; }
.register_centre .register_banner .shopping .shopping_top ul .men p { float: left; }
.register_centre .register_banner .shopping .shopping_top ul .b { background: rgba(255,255,255,1); height: 47px; line-height: 47px; border: 1px solid #D9D9D9; }
.register_centre .register_banner .shopping .shopping_top ul .b p { text-align: center; }
.register_centre .register_banner .shopping .shopping_top ul .c { width: 189px; height: 24px; margin-top: 20px; margin-left: 15px; }
.register_centre .register_banner .shopping .shopping_top ul .d { height: 110px; margin-top: 10px; background: rgba(255,255,255,1); border: 1px solid #D9D9D9; }
.register_centre .register_banner .shopping .shopping_top ul .d p { height: 54px; text-align: center; font-size: 12px; margin-top: 10px; }
.register_centre .register_banner .shopping .shopping_top ul .d:hover { background: #FFF8E1; }
.register_centre .register_banner .shopping .shopping_top ul .e { height: 50px;  background:rgba(255,255,255,1); border: 1px solid #D9D9D9;}
.register_centre .register_banner .shopping .shopping_top ul .e .ee{ float:right;}
.register_centre .register_banner .shopping .shopping_top ul .e p { padding-top:5px; padding-bottom:5px; text-align:center; width: 100px; height: 48px; font-size:12px;}
.register_centre .register_banner .shopping .shopping_top ul .f{ line-height:58px; height:59px; background:rgba(255,255,255,1);border: 1px solid #D9D9D9; border-top:0 none;}
.register_centre .register_banner .shopping .shopping_top ul .f .f_left{ float:left;  height:40px;}
.register_centre .register_banner .shopping .shopping_top ul .f .f_left p{ margin-left:10px; padding-right:20px;}
.register_centre .register_banner .shopping .shopping_top ul .f .f_left p a{ color:rgba(0,102,204,1);}
.register_centre .register_banner .shopping .shopping_top ul .f .f_right{ float:right;}
.register_centre .register_banner .shopping .shopping_top ul .f .f_right p{ font-size:12px; padding-left:20px; margin-right:15px;}
.register_centre .register_banner .shopping .shopping_top ul .f .f_right p span{ font-size:25px; color:#DA063B;}
.register_centre .register_banner .shopping .shopping_top ul .f .f_right button{ background:#DA063B; width:120px; height:40px; border:none; font-size:20px; color:rgba(255,255,255,1);}
.register_centre .register_banner .shopping .shopping_top ul .g { height: 43px; background:rgba(255,255,255,1); }
.register_centre .register_banner .shopping .shopping_top ul .g p {width:104px; color: #DA063B; padding: 10px 20px; border-bottom: 2px solid #DA063B;}
.register_centre .register_banner .shopping .shopping_top ul .h{ height:306px;background:rgba(255,255,255,1); margin-bottom:30px; overflow:hidden;}
.register_centre .register_banner .shopping .shopping_top ul .h p{ width:200px; margin:0 19px;}
.register_centre .register_banner .shopping .shopping_top ul .h p span{ color:rgba(0,0,0,1);}
.register_centre .register_banner .shopping .shopping_top ul .h p i{ float:left;display:block; font-size:12px; color:#DA063B; margin-top:30px;}
.register_centre .register_banner .shopping .shopping_top ul .h p s{ float:left; margin-left:5px;display:block; color:#999999; font-size:12px;  margin-top:30px;}
.register_centre .register_banner .shopping .shopping_top ul .h p em{ border:1px solid #999999; font-style:normal; float:right; margin-left:5px;display:block; width:82px; height:24px; background:#FFF8E1;font-weight:200; text-align:center; font-size:12px;  margin-top:20px;}
.register_centre .register_banner .shopping .shopping_top ul .h p em a{ display:block; color:#DA063B; padding:2px 0; }
.register_centre .register_banner .shopping .shopping_top ul .h p em:hover{ background:#DA063B;}
.register_centre .register_banner .shopping .shopping_top ul .h p em:hover a{ color:rgba(255,255,255,1);}